{% load static %}
<!DOCTYPE html>
<html>

<body>
    <h1>Name - {{context.name}}</h1>
    <h3>URL - {{ context.image.url}} </h3>
	
	<a href="{% url 'home' %}" class="btn btn-sm">Go Back!!!</a>
    <form method="POST" action="{% url 'deleteimg' context.id %}" >
        {% csrf_token %}
        <button type="submit" class="btn btn-danger btn-sm" >Delete</button>
    </form>
    
    <img src="{{context.image.url}}" alt="Smiley face" width="600" height="500">
    

    <img src="{{context.detected_img.url}}" alt="ml-image" width="600" height="500">
    
    
    
    <br>
    
</body>


</html>